<section class="block block--dark block--skewed-right block-showcase">
	<header class="block__header">
		<h2>User-Friendly Control Panel</h2>
	</header>
	<article class="container grid grid--1x2">
		<img class="block-showcase__img" src="./images/ipad.webp" alt="ipad" />
		<ul class="block-showcase__medias list">
			<li>
				<div class="media">
					<div class="media__img">
						<svg class="icon icon--primary">
							<use xlink:href="images/sprite.svg#snap"></use>
						</svg>
					</div>
					<div class="media__body">
						<h3 class="media__title media__title--white">
							Easy Start & Managed Updates
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
							ratione veritatis enim quos! Reprehenderit in nesciunt
							consequatur. Molestiae, natus quia?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<div class="media__img">
						<svg class="icon icon--primary">
							<use xlink:href="images/sprite.svg#growth"></use>
						</svg>
					</div>
					<div class="media__body">
						<h3 class="media__title media__title--white">
							Staging, Git & WP-CLI
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
							ratione veritatis enim quos! Reprehenderit in nesciunt
							consequatur. Molestiae, natus quia?
						</p>
					</div>
				</div>
			</li>
			<div class="media">
				<div class="media__img">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#wordpress"></use>
					</svg>
				</div>
				<div class="media__body">
					<h3 class="media__title media__title--white">
						Dynamic Caching & More
					</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
						ratione veritatis enim quos! Reprehenderit in nesciunt consequatur.
						Molestiae, natus quia?
					</p>
				</div>
			</div>
		</ul>
	</article>
</section>
